nav{
    background-color: darkblue;
    color: aliceblue;
    font-size: 20pt;
    width: 100%;
    height: 60;
}

/* Had to google this. The code overwrites the "a" component in the redirects display so that the purple and blue text is not present */
a:visited {
    color: aliceblue;
}

h1 {
    font-size: 30pt;
    color: aliceblue;
}

#redirects {
    text-align: end;
    font-size: 27pt;
}


body {
    /* I had to search google for this */
    background-color: black;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    /* Now all text color will change simultanously */
    color: aliceblue;
}

.namePlate {
    text-align: center;
}

#profilePic {
    display: block;
    margin: auto;
    width: 30%;
    height: 60%;
}

#profileBox {
    background-color: rgb(22, 22, 22);
    margin: auto;
    width: 90%;
    height: 99%;
}

#portfolioTextBox {
    background-color: darkblue;
    display: flex;
    margin: 10px;
}

#portfolioImage {
    background-color: darkblue;
    padding: 10;
    width: 150px;
    height: 170px;
}

#homeQuote {
    font-size: 29pt;
    text-align: center;
}