nav{
    background-color: darkblue;
    color: aliceblue;
    font-size: 20pt;
    width: 100%;
    height: 60;
}

a {
    color: aliceblue;
}

a:visited {
    color: aliceblue;
}

a:hover {
    color: yellow;
}

h1 {
    font-size: 30pt;
    color: aliceblue;
}

#redirects {
    text-align: end;
    font-size: 27pt;
}


body {
    background-color: black;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    color: aliceblue;
}

.namePlate {
    text-align: center;
}

#profilePic {
    display: block;
    margin: auto;
    width: 450;
    height: 450;
}

#profileBox {
    background-color: rgb(22, 22, 22);
    margin: auto;
    width: 90%;
    height: 775;
}

#portfolioTextBox {
    background-color: darkblue;
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    width: 170px;
    height: 190;
    overflow: hidden;
}

#portfolioTextBox p {
    user-select: all;
}

#portfolioImage {
    background-color: darkblue;
    padding: 10px;
    width: 150px;
    height: 170px;
}

#portfolioTextBox:hover {
    background-color: goldenrod;
    transition: all 2s;
    display: flex;
    margin: 10px;
    width: 1000;
}

#contactBox {
    background-color: midnightblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: goldenrod;
    width: 70%;
    height: 80%;
}

#successBox {
    background-color: midnightblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30;
    font-size: 4rem;
    text-align: center;
    color: aliceblue;
    width: 70%;
    height: 80%;
}

#contactBox a {
    color: crimson;
}

#contactBox a:hover {
    color: green;
}

#form input{
    width: 250;
}

#messageBox textarea{
    min-width: 250;
    max-width: 500;
    min-height: 70;
    max-height: 175;
}

#homeQuote {
    font-size: 3rem;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}


@media screen and (max-width: 600px){
    body {
        width: 95%;
        min-height: 50.3%;
    }
  
    #profilePic{
        width: 100;
        height: 100;
    }

    #portfolioTextBox {
        background-color: darkblue;
        display: flex;
        flex-direction: column;  
    }

    #portfolioTextBox:hover {
        background-color: goldenrod;
        transition: all 2s;
        display: flex;
        max-width: 95%;
        margin: 10px;
        height: auto;
    }

    #profileBox {
        flex: 1 0 33.333%;
        min-height: 200%;
    }

    #form input{
        width: 90%;
    }
    
    #messageBox textarea{
        min-width: 89%;
        max-width: 90%;
        min-height: 70;
        max-height: 40%;
    }
  }